---
import '../assets/style.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>AC Log</title>

	</head>
	<body>
		<slot />
	</body>
</html>